<% layout('layouts/boilerplate') %>
    <section style="background-color: rgb(251, 249, 249);">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src=<%= data.ngo.ngo_image? data.ngo.ngo_image : "https://images.unsplash.com/photo-1535090042247-30387644aec5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmdvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" %> 
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3"><%= data.ngo.ngo_name %> </h5>
                            <p class="text-muted mb-4"><%= data.ngo.ngo_city %>,  <%= data.ngo.ngo_state %> </p>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary">Connect</button>
                                <button type="button" class="btn btn-outline-primary ms-1">Donate</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><%= data.ngo.ngo_mail %> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><%= data.ngo.ngo_contact %> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><%= data.ngo.ngo_address %> <%= data.ngo.ngo_city %> <%= data.ngo.ngo_state %>, <%= data.ngo.ngo_zip_code %> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h2 class="my-3">Drives Conducted</h2>
                    <div class="row ">
                        <% for( let drive of data.drives ) { %>
                            <div class="col-md-3">
                                <div class="card text-white bg-success mb-4 mb-md-4">
                                    <div class="card-body text-center">
                                        <img src= <%= drive.drive_image? drive.drive_image : "https://images.unsplash.com/photo-1535090042247-30387644aec5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmdvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" %> 
                                            alt="avatar" class="rounded-circle img-fluid" style="width: 85px;">
                                        <h5 class="my-3"><%= drive.drive_name %> </h5>
                                        <p class="text-white mb-1">drive.drive_date</p>
                                        <!-- <p class="text-white mb-4">City, State</p> -->
                                    </div>
                                </div>
                            </div>                        
                        <% } %> 

                        <!-- <div class="col-md-3">
                            <div class="card mb-4 mb-md-4">
                                <div class="card-body text-center">
                                    <img src="http://clipart-library.com/images_k/man-profile-silhouette/man-profile-silhouette-8.png"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 85px;">
                                    <h5 class="my-3">Drive Name</h5>
                                    <p class="text-muted mb-1">January 20,2011</p>
                                    <p class="text-muted mb-4">City, State</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-success mb-4 mb-md-4">
                                <div class="card-body text-center">
                                    <img src="http://clipart-library.com/images_k/man-profile-silhouette/man-profile-silhouette-8.png"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 85px;">
                                    <h5 class="my-3">Drive Name</h5>
                                    <p class="text-white mb-1">January 20,2011</p>
                                    <p class="text-white mb-4">City, State</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-4 mb-md-4">
                                <div class="card-body text-center">
                                    <img src="http://clipart-library.com/images_k/man-profile-silhouette/man-profile-silhouette-8.png"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 85px;">
                                    <h5 class="my-3">Drive Name</h5>
                                    <p class="text-muted mb-1">January 20,2011</p>
                                    <p class="text-muted mb-4">City, State</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card mb-4 mb-md-4">
                                <div class="card-body text-center">
                                    <img src="http://clipart-library.com/images_k/man-profile-silhouette/man-profile-silhouette-8.png"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 85px;">
                                    <h5 class="my-3">Drive Name</h5>
                                    <p class="text-muted mb-1">January 20,2011</p>
                                    <p class="text-muted mb-4">City, State</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card text-white bg-success mb-4 mb-md-4">
                                <div class="card-body text-center">
                                    <img src="https://as2.ftcdn.net/v2/jpg/03/40/12/49/1000_F_340124934_bz3pQTLrdFpH92ekknuaTHy8JuXgG7fi.jpg"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 85px;">
                                    <h5 class="my-3">Drive Name</h5>
                                    <p class="text-white mb-1">January 20,2011</p>
                                    <p class="text-white mb-4">City, State</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-4 mb-md-4">
                                <div class="card-body text-center">
                                    <img src="http://clipart-library.com/images_k/man-profile-silhouette/man-profile-silhouette-8.png"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 85px;">
                                    <h5 class="my-3">Drive Name</h5>
                                    <p class="text-muted mb-1">January 20,2011</p>
                                    <p class="text-muted mb-4">City, State</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-success mb-4 mb-md-4">
                                <div class="card-body text-center">
                                    <img src="http://clipart-library.com/images_k/man-profile-silhouette/man-profile-silhouette-8.png"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 85px;">
                                    <h5 class="my-3">Drive Name</h5>
                                    <p class="text-white mb-1">January 20,2011</p>
                                    <p class="text-white mb-4">City, State</p>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </section>
